h1 {
    text-align: center;
}
.menu {
    display: inline-block;
    border: 2px solid #fff;
    box-shadow: 0 0 0 3px rgba;
    border-radius: 5%;
    min-height: 200px;
    min-width: 200px;  
    background-image: url(./checks.jpg);
    text-align: left;
    font-weight: bold;
}

#buttonz {
    margin-left: 44.3%;
}


#formmenu {
    text-align: center;
    background-image: url(./pizzaparty.png);
}


#title {
    background-image: url(./checks.jpg);
    margin-bottom: 0%;
    margin-top: 0%;
    height: 45px;
}

#cart {
    margin-left: 45%;
}

